---
import * as m from "@paraglide/messages"
import Layout from "@layouts/Layout.astro"
import {
  ClientReact,
  HydratedReact,
  StaticReact
} from "@components/ReactExamples.tsx"
---

<Layout>
  <h1>{m.reactPageTitle()}</h1>
  <p class="note">
    {m.reactNote()}
  </p>
  <StaticReact />
  <hr />
  <HydratedReact client:idle />
  <hr />
  <ClientReact client:only="react" />
</Layout>
